**/*~
**/*.class
**/.project
**/.classpath
**/*.jar
**/.gradle
**/.settings
**/.vscode
**/.DS_Store
**/build/
**/bin/
project/src/main/java/edu/odu/cs/cs350/AbstractDateReader
project/src/main/java/edu/odu/cs/cs350/abstraccsvreader.java
project/src/main/java/edu/odu/cs/cs350/DetailedReportGenerator.java
